:root {
  /* Developer div */
  --github-icon-height: 20px;
  --github-icon-width: 20px;
  --github-font-color: linear-gradient(
    90deg,
    rgba(214, 123, 3, 1) 10%,
    rgba(214, 141, 3, 1) 20%,
    rgba(249, 235, 22, 1) 30%,
    rgba(109, 161, 65, 1) 40%,
    rgba(56, 196, 152, 1) 50%,
    rgba(30, 84, 190, 1) 60%,
    rgba(149, 28, 204, 1) 70%,
    rgba(201, 37, 137, 1) 80%,
    rgba(219, 13, 83, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );

  /* Colors */
  --text-color-primary: #04080b;
  --text-color-inverse: #edf1f6;
  --background-color: #e1ebf5;
  --primary-color: #1a354c;
  --secondary-color: #c2d7e9;
  --accent-color: #3974a7;
  --grey-200: #ccd2d6;
  --grey-400: #a6a9ab;

  /* Gaps */
  --text-to-text-gap: 20px;
  --icon-to-text-gap: 5px;
  --board-gap: 30px;

  /* Padding */
  --body-padding: 10px 30px;
  --modal-padding: 20px 40px;
  --btn-padding: 10px 15px;
  --input-padding: 5px 10px;
  --player-box-padding: 2px 5px;

  /* Width & Height */
  --loader-height: 20px;
  --loader-width: 20px;
  --icon-height: 30px;
  --icon-width: 30px;
  --legend-icon-height: 20px;
  --legend-icon-width: 20px;

  /* Shadow */
  --btn-shadow: 0 0 5px 1px var(--accent-color);
  --modal-shadow: 0 0 5px 1px var(--primary-color);
  --modal-shadow-info: 0 0 5px 1px var(--grey-400);
  --active-player-board-shadow: 0 0 5px 3px var(--accent-color);

  /* Border-radius */
  --general-border-radius: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
  color: var(--text-color-primary);
}

body {
  /* background-image: url(./assets/img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--body-padding);
}

input[type='text'] {
  appearance: none;
  outline: none;
  border: 1px solid var(--background-color);
  border-radius: 5px;
  font-size: 1.2rem;
  padding: var(--input-padding);
}

input[type='text']:hover {
  border-color: var(--primary-color);
}

input[type='text']:focus {
  border-color: var(--primary-color);
}

input[type='text']:hover:not(:focus) {
  border-color: var(--primary-color);
}

.modal-name,
.modal-confirm {
  position: fixed;
  top: 25%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -350%);
  transition: all 0.75s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: var(--text-to-text-gap);
  padding: var(--modal-padding);
  border: none;
  box-shadow: var(--modal-shadow);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  opacity: 0%;
  z-index: 9;
}

.modal-name.show,
.modal-confirm.show {
  transform: translateX(-50%);
  opacity: 100%;
}

.modal-name::backdrop,
.modal-confirm::backdrop {
  backdrop-filter: blur(2px);
}

.modal-label,
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

#player-name {
  max-width: 250px;
}

.btn {
  appearance: none;
  padding: var(--btn-padding);
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
  font-size: 0.9rem;
  font-weight: 700;
  transition: all 0.1s 0s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  box-shadow: var(--btn-shadow);
}

.header {
  margin-top: 25px;
}

.title {
  font-family: 'Monoton', 'Inter', sans-serif;
  font-size: 5rem;
}

.invisible {
  opacity: 0;
}

.main-game {
  margin-top: 25px;
  /* border: 1px solid black; */
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-turn {
  display: flex;
  align-items: center;
}

#player-id,
#winner-id {
  border: 1px solid var(--secondary-color);
  border-radius: var(--general-border-radius);
  padding: var(--player-box-padding);
  background-color: var(--grey-200);
  font-family: 'Orbitron', 'Inter', sans-serif;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 26px;
}

#player-id {
  font-size: 1rem;
}

#player-won {
  margin-top: 10px;
  vertical-align: middle;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: var(--board-gap);
  margin-top: 20px;
}

#your-board,
#opponent-board {
  font-weight: 700;
  color: var(--text-color-primary);
}

.board-info {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: var(--icon-to-text-gap);
  position: relative;
}

.icon {
  height: var(--icon-height);
  width: auto;
  background-color: var(--background-color);
  border-radius: 50px;
}

.info-icon {
  margin-left: auto;
  opacity: 0.3;
  transition: all 0.1s 0s ease-in-out;
}

.info-icon:hover {
  opacity: 0.8;
  cursor: help;
}

.info-icon:focus {
  opacity: 0.8;
  cursor: help;
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: var(--icon-to-text-gap);
  padding: var(--btn-padding);
  position: absolute;
  left: 40%;
  bottom: 85%;
  background-color: var(--text-color-inverse);
  min-width: 150px;
  border-radius: var(--general-border-radius);
  box-shadow: var(--modal-shadow-info);
}

.legend {
  display: flex;
  align-items: center;
  column-gap: 3px;
  font-size: 0.8rem;
}

.legend p:nth-child(3) {
  margin-left: 10px;
}

.square {
  height: var(--legend-icon-height);
  width: var(--legend-icon-width);
  border: 1px solid var(--grey-400);
}

.square-5 {
  background-color: rgb(252, 4, 4, 0.4);
}
.square-4 {
  background-color: rgb(4, 140, 4, 0.4);
}
.square-3-1 {
  background-color: rgb(4, 4, 252, 0.4);
}
.square-3-2 {
  background-color: rgb(252, 251, 32, 0.4);
}
.square-2 {
  background-color: rgb(12, 4, 12, 0.4);
}

.legend-icon {
  height: var(--legend-icon-height);
  width: auto;
  border: 1px solid var(--grey-400);
}

.game-board {
  height: 300px;
  width: 300px;
  margin-top: 7px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  outline: 1px solid var(--grey-400);
  /* background-color: var(--text-color-inverse); */
}

.disabled-board {
  pointer-events: none;
}

.cell {
  appearance: none;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  outline: 1px solid var(--grey-400);
  background-color: var(--text-color-inverse);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-opponent:hover {
  cursor: crosshair;
  background-color: var(--secondary-color);
}

.disabled-cell {
  background-color: transparent;
}

.attacked-opponent-cell:hover {
  background-color: var(--text-color-inverse);
  cursor: not-allowed;
}

.miss,
.hit {
  max-height: 90%;
  max-width: 90%;
}

.highlight {
  box-shadow: var(--active-player-board-shadow);
}

#new-game-btn {
  margin-top: 25px;
}

.buttons {
  display: flex;
  column-gap: 50px;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  .title {
    font-size: 3rem;
  }
}

/* Loader animation */

.loader {
  margin: 0 0 0 14px;
  font-size: 4px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow:
      0em -2.6em 0em 0em #04080b,
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2),
      2.5em 0em 0 0em rgba(4, 8, 11, 0.2),
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.2),
      0em 2.5em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.2),
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.5),
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.7);
  }
  12.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.7),
      1.8em -1.8em 0 0em #04080b,
      2.5em 0em 0 0em rgba(4, 8, 11, 0.2),
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.2),
      0em 2.5em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.2),
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.5);
  }
  25% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.5),
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.7),
      2.5em 0em 0 0em #04080b,
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.2),
      0em 2.5em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.2),
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2);
  }
  37.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.2),
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.5),
      2.5em 0em 0 0em rgba(4, 8, 11, 0.7),
      1.75em 1.75em 0 0em #04080b,
      0em 2.5em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.2),
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2);
  }
  50% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.2),
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2),
      2.5em 0em 0 0em rgba(4, 8, 11, 0.5),
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.7),
      0em 2.5em 0 0em #04080b,
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.2),
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2);
  }
  62.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.2),
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2),
      2.5em 0em 0 0em rgba(4, 8, 11, 0.2),
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.5),
      0em 2.5em 0 0em rgba(4, 8, 11, 0.7),
      -1.8em 1.8em 0 0em #04080b,
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2);
  }
  75% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.2),
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2),
      2.5em 0em 0 0em rgba(4, 8, 11, 0.2),
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.2),
      0em 2.5em 0 0em rgba(4, 8, 11, 0.5),
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.7),
      -2.6em 0em 0 0em #04080b,
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2);
  }
  87.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.2),
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2),
      2.5em 0em 0 0em rgba(4, 8, 11, 0.2),
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.2),
      0em 2.5em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.5),
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.7),
      -1.8em -1.8em 0 0em #04080b;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow:
      0em -2.6em 0em 0em #04080b,
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2),
      2.5em 0em 0 0em rgba(4, 8, 11, 0.2),
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.2),
      0em 2.5em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.2),
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.5),
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.7);
  }
  12.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.7),
      1.8em -1.8em 0 0em #04080b,
      2.5em 0em 0 0em rgba(4, 8, 11, 0.2),
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.2),
      0em 2.5em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.2),
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.5);
  }
  25% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.5),
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.7),
      2.5em 0em 0 0em #04080b,
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.2),
      0em 2.5em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.2),
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2);
  }
  37.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.2),
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.5),
      2.5em 0em 0 0em rgba(4, 8, 11, 0.7),
      1.75em 1.75em 0 0em #04080b,
      0em 2.5em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.2),
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2);
  }
  50% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.2),
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2),
      2.5em 0em 0 0em rgba(4, 8, 11, 0.5),
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.7),
      0em 2.5em 0 0em #04080b,
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.2),
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2);
  }
  62.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.2),
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2),
      2.5em 0em 0 0em rgba(4, 8, 11, 0.2),
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.5),
      0em 2.5em 0 0em rgba(4, 8, 11, 0.7),
      -1.8em 1.8em 0 0em #04080b,
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2);
  }
  75% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.2),
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2),
      2.5em 0em 0 0em rgba(4, 8, 11, 0.2),
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.2),
      0em 2.5em 0 0em rgba(4, 8, 11, 0.5),
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.7),
      -2.6em 0em 0 0em #04080b,
      -1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2);
  }
  87.5% {
    box-shadow:
      0em -2.6em 0em 0em rgba(4, 8, 11, 0.2),
      1.8em -1.8em 0 0em rgba(4, 8, 11, 0.2),
      2.5em 0em 0 0em rgba(4, 8, 11, 0.2),
      1.75em 1.75em 0 0em rgba(4, 8, 11, 0.2),
      0em 2.5em 0 0em rgba(4, 8, 11, 0.2),
      -1.8em 1.8em 0 0em rgba(4, 8, 11, 0.5),
      -2.6em 0em 0 0em rgba(4, 8, 11, 0.7),
      -1.8em -1.8em 0 0em #04080b;
  }
}

/* Github link */

.developer {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.copyright {
  font-size: 0.85rem;
  color: var(--font-white);
}

.copyright,
#copyright-span {
  font-family: 'Inter', sans-serif;
}

.github-link {
  font-family: 'Caveat', sans-serif;
  position: relative;
  background: var(--github-font-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.github-logo {
  height: var(--github-icon-height);
  width: auto;
  position: absolute;
  left: 65px;
  opacity: 0.9;
  transition: transform 0.4s ease-in-out;
}

.github-logo:hover {
  transform: rotate(720deg);
}
